.cell {
  border: 5px solid #0da192;
  font-size: 62px;
  font-weight: bold;
  color: #14bdac;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.cell.x {
  color: #086f63;
}

.cell.o {
  color: #0eb0a2;
}

.top {
  border-top: none;
}

.right {
  border-right: none;
}

.bottom {
  border-bottom: none;
}

.left {
  border-left: none;
}

.game-board {
  width: 400px;
}

.blocked-cell {
  pointer-events: none;
}
